.income-expenses-chart {
  width: 100%;
  height: auto;
}

.income-expenses-form-buttons {
    display: flex;
}

.income {
  grid-column: 1;
  grid-row: 1;
  display: flex;
}

.expenses {
  grid-column: 1;
  grid-row: 2;
  display: flex;
}

.ratio {
  grid-column: 2;
  grid-row: 1 / span 2;
}


canvas {
  max-width: 100%;
  max-height: 100%;
}